<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test</display-name>
	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>test20181023.web.AddStuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/addstu</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>del</servlet-name>
		<servlet-class>test20181023.web.DeleteStuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>del</servlet-name>
		<url-pattern>/delstu</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stulist</servlet-name>
		<servlet-class>test20181023.web.StudentListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stulist</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>update</servlet-name>
		<servlet-class>test20181023.web.UpdateServelt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/up</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>up</servlet-name>
		<servlet-class>test20181023.web.UpdateStuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>up</servlet-name>
		<url-pattern>/updstu</url-pattern>
	</servlet-mapping>
</web-app>